<%= simple_form_for @visitor do |f| %>
    <% if @visitor.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @visitor.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.input :admin %>
    </p>
    <p class="button"><%= f.submit %></p>
<% end %>